/* colors: 
  gray: #989997  989997
  yellow: #ffe066
  blue: #247ba0
  teal: #70c1b3
*/

#announcment,
#fhAnnouncment,
#ssAnnouncment {
  display: none;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffe066;
  text-align: center;
  font-size: 1.4em;
}

#saturday {
  margin: 0;
  padding: .4em;
}

body {
  margin: auto;
  background: #70c1b3;
}

p,
#current,
#high,
#chill,
#humid,
#speed,
.weatherinfo,
#currentDate,
#year,
#sunidahofooter,
a,
td,
label,
.forminstructions,
ul {
  font-family: 'Open Sans', sans-serif;
}

input, textarea, select{
  line-height: 2em;
  margin: 4px;
}

.boxlabel{
  font-size: 12px;
}
a {
  padding: 3px;
  font-size: 15px;
}

header,
footer {
  background-color: #989997;
}

header {
  margin-top: 10px;
  display: block;
}

h1,
h2,
h3,
h4,
th,
label,
#city,
#stormdate,
legend {
  font-family: 'Oswald', sans-serif;
  margin: .35rem;
}


h3,
#address,
#contacttitle,
footer,
#title {
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  padding: 10px;
  text-align: left;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

#currentDate,
#year,
#sunidahofooter,
.wireframes {
  font-size: 1rem;
  display: inline-block;
}

p,
.forminstructions,
#current,
#high,
#chill,
#humid,
#speed,
.weatherinfo,
label {
  margin: 12px;
  text-align: left;
}

#current,
#high,
#chill,
#humid,
#speed,
.weatherinfo {
  padding-left: 1em;
}

footer {
  padding: 5px 50px 15px;
}

h2,
h3,
h4,
a {
  align-self: center;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#logo {
  max-width: 20%;
  padding: 10px 7%;
}

/* NAV */
nav,
button {
  margin: 0 auto;
  max-width: 760px;
  background-color: #247ba0;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: #ece2ba;
  font-weight: 700;
}
#submit, #return{
  font-family: 'Oswald', sans-serif;
  background-color: #247ba0;
  color:#ece2ba;
  border: none;
  box-shadow: 0 0 10px #142e46;
}
#button{
  margin-bottom: 2em;
}
#return{
  text-align: center;
}
#submit:hover,
a:hover, #return:hover{
  color: black;
  background-color: #ffe066;
}

.responsive li {
  display: block;
}

.active {
  border: 2px solid black;
  border-radius: 3px;
}


/* END NAV */

h1,
h2 {
  margin: 1rem;
}

/* Hero Box*/

.herodiv {
  margin: auto;
  position: relative;
  width: 100%;
}

#hero {
  max-width: 100%;
  width: 100%;
}

/* Weather box */

.fiveday {
  display: block;
  margin: 10px auto 10px auto;
  position: relative;
  height: 175px;
  width: 90%;
}
.weathersum{
  padding-bottom: 2em;
}

.contactinfo,
#homegrid {
  box-shadow: 0 0 10px #142e46;
  margin: 3em auto;
  margin-top: 3em
}

.article,
.contactinfo,
#weather {
  display: block;
  position: relative;
  width: 100%;
  border: .5px solid #142e46;
}

/* Article Box */
.article,
#weather {
  background-color: #ffe066;
  z-index: 1;
}

#homebookbutton{ 
  margin: 2em;
}
#articlecontent, #essentiallist {
  text-align: left;
  list-style-type: disc;
  padding: .5em 3em;
}

#articletitle,
#weatherhead {
  padding-top: 1em;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}


/* Contact Info  */
.contactinfopage {
  display: block;
}

.contactpagetext{
  background-color: #ffe066;
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
}

#map {
  display: block;
  margin: auto auto;
  width: 90%;
  height: 300px;
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
}


.sociallink {
  display: inline-block;
  width: 20%;
}

#socialiconsdiv {
  width: 250px;
  margin: auto;
  max-width: 90%;
  padding: 1.3em;
}

#socialiconsdivhome {
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}

.contactinfo {
  height: 270px;
  background-color: white;
  margin-bottom: 2rem;
}

#contacttitle {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

.contact,
.contacticon {
  display: inline-block;
}

.contacticon {
  width: 18px;
}

.contact {
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 100%;
}

#phoneandemail {
  padding: .5em
}

.wireframes {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.wireframes:hover {
  color: #f0ac17;
  background-color: #247ba0;
  font-size: 24px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
}
/* Home Images */
div.img {
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
  background-color: black;
}

div {
  margin-bottom: 2rem;
}
/* END TOWNS JSON FILE ORDERING*/

img[data-src] {
  filter: blur(0.2em);
}

.notice {
  font-size: 12px;
  padding-left: .5em;
  text-align: center;
}
.forminstructions{
  text-align:center;
}

#title {
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
}

#stormdate,
#zip,
#stormtype,
#city {
  width: 50%;
  min-width: 170px;
}

.form li,
.checks, select {
  display: flex;
  flex-wrap: wrap;
  padding-right: 1em;
}


.form>li>label,
.form li p {
  flex: 1 0 120px;
  text-align: center;
}

.form>li>label+*,
.checks, select{
  flex: 1 0 220px;
}

.form li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #ffe066;
  color: #247ba0;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.checks li{
  width: 50%;
}

.checks{
  width:50%;
}
input.box {
  width: 1.25em;
  height: 1.25em;
}

.safeoptions {
  display: inline;
  margin-top: 1rem;
  margin-left: .5rem;
}

textarea {
  width: 90%;
  height: 150px;
}

.thanks {
  text-align: center;
  padding: 2em;
}

button,
#scootsfooter,
#footer div#button {
  text-align: center;
}

fieldset {
  border: 5px solid #247ba0;
  margin-top: 2rem;
}

#welcome {
  text-align: center;
  font-weight: 500;
}
#slogan{
  text-align: center;
  margin-bottom: 2em;
}

.homegrid {
  max-width: 90%;
}

/* three day weather box */
th,
td {
  text-align: center;
  padding: .2em;
}

table,
th,
td {
  border: 3px solid white;
  border-collapse: collapse;
  background-color: #c1c2c1;
}

table {
  width: 90%;
  margin: 2em auto;
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
}

.weathericon {
  max-width: 50px;
}

#weatherhead {
  text-align: center;
  padding-left: 0;
}

/* Tour Page */
.tourdivs, .rentaldivs {
  background-color: #ffe066;
  padding: 2em;
  text-align: center; 
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
}

#tourgrid, #rentalgrid{
  display: block;
  padding: 1em;
}

.contactinfo {
  display: grid;
}
p.tours, p.rentals{
  text-align: left;
}

.booking {
  font-family: 'Oswald', sans-serif;
  min-width: 200px;
  background-color: #247ba0;
  color: #ece2ba;
  padding: .75rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px #142e46;
}
#smallmap {
  display: none;
}
#reservationinfo{
  background: white;
  padding-bottom: 3px;
  padding-top: 2em;
  border-bottom: none;
  z-index: 100;
  
}

/* rentals page */
.infoandservices{
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}
.services, .essential{
  background-color: #ffe066;
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
  width: 80%;
  margin: 1em auto 2em;
}
.services h2{
  font-size: 1.5rem;
  text-align: center;
}

.essential{ 
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #bfc0bd;
  width: 90%;
}

#contactusform{
  padding: 1em;
  width: 80%;
  margin: 0 auto;
  
}
form {
  background-color: white;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-top: 0px;
  margin-top:0px;
  width:100%;
  border: 1px solid black;
  box-shadow: 0 0 10px #142e46;
  border-top: none;
  z-index: -1;
}
th.tabletitle{
  font-size: 1em;
}
td.bold{
  font-size: .75em;
}
#rentalpricing{
  text-align: center;
}
#tourgrid{
  margin-top: 0;
  padding-top:0;
}

.tourimgs, #rentalsimgs{
  display: block;
  margin-top: 1em;
  filter: blur(0em);
  transition: filter 0.5s;
}
.rentalslink{
  display:inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: black;
  width: auto;
  text-decoration: underline;
  border-radius: 3px;
  padding: 2.5px;
}
.rentalslink:hover{
  color: #ffe066;
  background-color: #247ba0;
}

.article, #weather{
  margin-bottom: 0;
}
