@media only screen and (min-width: 32.5em) {
  body {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }


  #logo {
    max-width: 15%;
    float: left;
    padding: 10px 10px;
    max-height: 100px;
  }

  #name,
  #email,
  #tel {
    width: 50%;
  }

  #stormdate,
  #zip,
  #stormtype,
  #city {
    width: 25%;
    min-width: 170px;
  }

  input[list='stormtype'] {
    width: 25%;
  }

  .griddivs {
    max-height: 14em;
  }

  #gallery {
    grid-template-columns: 1fr 1fr;
  }

  /* Article  box */
  #janice,
  #garrett,
  #jessica,
  #henry {
    max-width: 52%;
    float: left;
    margin: 1.5em 1em;
  }

  /* NAV  */

  nav ul {
    display: flex;
  }

  nav {
    max-width: 100%;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }



  /* Hero box */
  #hero {
    width: 98%;
  }



  /* weather box */

  .weathersum {
    position: absolute;
    background-color: #f3c155;
    border: 1px solid #2e6ca3;
    padding: 1rem;
    box-shadow: 0 0 30px #142e46;
    opacity: .8;
    z-index: 100;
    width: 13em;
    height: 8em;
    margin-left: 0%;
    top: 12%;
    right: 45%;
  }

  #current,
  #high,
  #chill,
  #humid,
  #speed,
  .weatherinfo,
  p {
    font-size: 16px;
  }

  #weatherhead {
    font-size: 20px;
  }


  /* five day weather box */

  .fiveday {
    display: block;
    margin: 10px auto;
    position: relative;
    height: 175px;
    width: 90%;
  }

  th,
  td {
    text-align: center;
    padding: .2em;
    width: 2em;
  }

  table,
  th,
  td {
    border: 3px solid #2e6ca3;
    border-collapse: collapse;
    background-color: #f5f1d8;
  }

  table {
    width: 80%;
    margin: auto;
  }

  .weathericon {
    max-width: 50px;
  }

  .article,
  #events,
  .contactinfo {
    max-width: 95%;
  }

  #hero {
    width: 98%;
  }

  /* Contact box */
  .social {
    display: inline;
    width: 45px;
  }

  #socialiconsdiv {
    display: flex;
    width: 165px;
    margin: 0;
    padding: 5px;
  }

  .contactinfo {
    height: 300px;
  }

  .contact {
    display: block;
    text-align: left;
  }

  .contacticon {
    width: 15px;
  }

  #map {
    display: inline-flex;
    float: left;
    width: 40%;
    margin: 1.5em;
    border: 1px solid black;
    box-shadow: 0 0 15px #142e46;
  }

  #address {
    text-align: left;
  }

  /* TOWNS JSON FILE ORDERING*/
  div.city {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  div.towns div:nth-of-type(odd) p,
  div.towns div:nth-of-type(odd) h3,
  div.towns div:nth-of-type(odd) h2 {
    grid-column: 1;
  }

  div.towns div:nth-of-type(even) p,
  div.towns div:nth-of-type(oven) h3,
  div.towns div:nth-of-type(even) h2 {
    grid-column: 2;
  }

  div.towns div:nth-of-type(odd) img {
    grid-column: 2;
    grid-row: 1/10;
    justify-self: center;
    align-self: center;
  }

  div.towns div:nth-of-type(even) img {
    grid-column: 1;
    grid-row: 1/10;
    justify-self: center;
    align-self: center;
  }

  div.towns div h2 {
    align-self: end;
    margin: 0;
  }

  /* END TOWNS JSON FILE ORDERING*/
  textarea {
    width: 90%;
    height: 150px;
  }

  #submit {
    font-family: 'Montserrat', sans-serif;
    width: 15%;
    margin: 4px 25%;
    min-width: 200px;
  }

  input[type='radio'] {
    transform: scale(1.5);
  }
}